<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User creation</title>
</head>
<body>
<form action="#" th:action="@{/save}" th:object="${form}"
      method="post">
    <input type="submit" th:value="Save">
    <input type="reset" th:value="Reset">
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Last Name</th>
            <th> Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, itemStat : *{users}">
            <td><input th:field="*{users[__${itemStat.index}__].firstName}"/></td>
            <td><input th:field="*{users[__${itemStat.index}__].lastName}"/></td>
            <td><input th:field="*{users[__${itemStat.index}__].email}"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>